.product img{
	width: 200px; 
	height: auto;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.product{
	background-color: #E6E6DA;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}

.productRow{
	margin-bottom: 10px;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}